html,body{
    padding: 0px;
    margin:0px;
    width:100%; 
    overflow-x:hidden;
}
.header{
background-image:url("marvin4.jpg");
background-position: center;
background-size:cover;
background-repeat: no-repeat;

}
.section2{
    background-image:url("marvin.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    height:400px;
    color:black;
    padding:50px;
    }
    .h1{
        font-size:50px;
        font-weight:bolder;
    }
    .section1{
        padding:10px;
        color:white;
    }
    .h2{
        padding:10px;
        font-size:20px;
    }
    .for{
        background:white;
        text-align:center;
        
    }
.g{
    width:150px;
    background:mediumspringgreen;
    padding:20px;
    text-transform:uppercase;
    padding-bottom:20px;
}
.g:hover{
    background:transparent;
}
.h4{
    font-size:40px;
    padding:20px;
}
.img{
    width:100%;
    height:500px;
    margin:0px auto;
}
.d{
    font-size:20px;
}
.section1{
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:50px;
    font-size:30px;
}
.section4{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.info{
    background:turquoise;
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    color:white;
}
nav{
    position:fixed;
    width:2000px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .ff{
      width:100px;
      height:100px;
      padding:20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .ic{
      height:100px;
  }
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .ico{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  #cont{
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
      padding:10px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
.ddd{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    text-align:left;
}
h1{
    padding:30px;
    font-weight:lighter;
}
.section5{
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.h6{
    font-size:40px;
    padding:20px;
}
.section3{
    text-align:center;
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.contact{
    text-transform: uppercase;
    font-size:30px;
}
footer{
    background:transparent;
    padding:20px;
}
.hhh3{
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
    background:transparent;
}
.copy{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
}
.f4{
    background:white;
}
.h22{
    font-size:30px;
    padding:20px;
    font-weight:bolder;
}
.section6{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    text-transform:uppercase;
    background-image:url("marvin.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    color:whitesmoke;
}
.d{
    font-size:30px;
}